/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  padding-top: 60px;
  height: 95%;
}


body {
  padding: 0;
  margin: 0;
  background-color: white;
}