.lineChartContainer {
    position: relative;
    top: 300px;
    text-align: center;
}
.avg, .high {
    border: 1px solid;
    margin: 10px 0;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
    text-align: center;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}
